/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-04-2017, 01:16:57
    Author     : Alkhozai
*/

.beVol{
    
   width: 100%;
    
    padding-bottom: 100px;
    background-color:#e0dfdf;
    
          text-align: left;
     display: inline-block;
     
       
 
}
.beVolSubtitle{
        padding: 0px 20%;
    text-align: center;
    font-size: 2rem;
    margin-top: 0px;
    padding-top: 0px;
    
}
.beVolText{
    
    padding: 0px 20%;
    text-align: left;
    font-size: 1.8rem;
}

.skema{
    
    margin: auto;
    width: 90%;

    margin-bottom: 100px;
}
.skema iframe{
    width: 80%;
    height: 700px;
    
}



.answer{
    
    border: 1px solid red;
        width: 500px;
}

.answer,
#show,
#hide:target {
    display: none; 
}

#hide:target + #show,
#hide:target ~ .answer {
    display: inline; 
    width: 70%;
}
.hideForm{
    width: 4%;
    height: 1%;
        background-color: greenyellow;
}


.showForm{
       width: 4%;
    height: 1%;
        background-color: greenyellow;
    
}


.plusMinus{
    width: 4%;
    display: block;
    margin: auto;
    margin: 10px auto;
}

.beVolHeader{
padding-bottom: 0px;
margin-bottom: 0px;

    
}




.requContainer{
    width: 60%;
margin: auto;
    
   

}
.requContainer h1{
    
    margin-bottom:  10px;
    font-size: 4rem;
}

.req{
    width: 50%;
    
   

font-weight:bold;
 
        /* 1px solid #73AD21;*/
     text-align: left;
    font-size: 1.8rem;
    
}
