/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-04-2017, 10:59:48
    Author     : Alkhozai
*/
.maybeFooter{
    
    width: 100%;
    height: auto;
    
padding-top: 50px;
padding-bottom: 10px;

background-color:#525252; 
   
    
display: flex;
justify-content: space-between;
   
    
   
          text-align: center;
     display: inline-block;
     
  
}
.maybeFooter h1{
    
    color: white;
    text-align: center;
  font-size: 3rem;
 font-family: Andada;

	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 26.4px;
}


.ibLogoW img {
   
   width: 7%;
    margin: auto;
    
}

.footerSocialContainer{
    
       width: 40%;
    margin: auto;
    padding: 5px;
  
           margin-top: 40px;
color: white;

    
}



.ffacebook , .finstagram , .fyoutube , .femail {
  
      width: 10%;
display: inline-block;
margin: 5px;
}


.ffacebook img, .finstagram img, .fyoutube img, .femail img {
  
width: 50%;
}






@media screen and (max-width:420px) {


.ibLogoW img {
   
   width: 20%;
    margin: auto;
    
}

.footerSocialContainer{
    
       width: 100%;
    margin: auto;
    padding: 0px;
  
           margin-top: 30px;
color: white;

    
}



.ffacebook , .finstagram , .fyoutube , .femail {
  
      width: 15%;
display: inline-block;
margin: 5px;
}


.ffacebook img, .finstagram img, .fyoutube img, .femail img {
  
width: 50%;
}
.copyR{
  
      text-align: center;
    width: 100%;

      border-top:   1px solid white;
     margin: auto;
      font-size: 0.9rem;
    
margin-top: 20px;
 
 
 
  
}

}