/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-02-2017, 20:58:09
    Author     : Alkhozai
*/

 
body {
    color: #525252;
    font-family: "Roboto", sans-serif;
width: 100%;
    background-color: white;
    font-weight: 300;
    line-height: 2;
}

html { font-size: 62.5%; } 

.groupPic{
   
    width:100%;
    margin: 0px;
     margin-top: 30px;
     
    
}
.groupPicdiv{

   position: absolute; 

   top: 12%;
 /* left: 50%*/
   width: 100%; 
     text-align:  center;

}




.groupPic img { 
    width: 100%;
    height: auto;

}
.groupPicdiv img{/*arrow*/
    
    width: 70px;
 height: auto;
 
animation: spinning-logocat 3s infinite;

    
}
.groupPicdiv img:hover{
    
      transform: scale(1.2, 1.2);
 -moz-transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
-o-transform: scale(1.2, 1.2);

    
}

@keyframes spinning-logocat {50%{transform:rotateY(180deg);}}
@keyframes spin-dat-cat {50%{transform:rotateY(180deg);}}




.sectionTitle{
    
       width: 100%;
    margin: auto ;
    padding-top:  70px;
    padding-bottom: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 5rem;
            font-weight: 700;
margin-bottom: 20px;


}

.followUsHeader{
           width: 100%;
    margin: auto ;
    padding-top:  70px;
    padding-bottom: 0px;
    margin-top: 10px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 3rem;
            font-weight: 700;

}






.donateSectionHeader{
       width: 100%;
    margin: auto ;
    padding: 30px;
    padding-bottom: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 5rem;
            font-weight: 700;
margin-bottom: 100px;
}
.subtitle{
        font-size: 2rem;
     font-weight: 200;
     margin-bottom: 20px;
     margin-top: 0px;
     top: 0px;
     


}

@media screen and (max-width:1298px) {
  
  html { font-size: 58.5%; } 

}






.floating-box2-center{
   width: 25%;
    min-width: 200px;
    height: 110px;
    margin: 1em;
 
    display: inline-block;
          border-left:  3px solid white; 
    border-right:  3px solid white; 
}
.floating-box2{
   width: 25%;
    min-width: 200px;
    height: 110px;
    margin: 1em;
 
    display: inline-block;
          
}

body{
    background-color: #cccccc;
    
}
.floating-box2 {
    
    color: white;
}



.copyR{
  
      text-align: center;
    width: 40%;

      border-top:   1px solid white;
     margin: auto;
      font-size: 1.5rem;
    
margin-top: 50px
 
 
 
  
}
.copyR a{
   
     padding: 3px;
     margin-top: 70px;
    bottom:   1px;
     color: white;
}
h1{
    text-align: center; 
    
}
.whiteFont{
    color: white;}


.center{
      margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.header-y{
      position: absolute;
  right: 0;
  top:  0;
   
  left: 0;
  
  background-color: #666666;
 
  
    
}

.header-y img{
       float: left;
       height: 150px;
       width: 480px;

     
       

}


/*        - ---------------   */


body {margin:0;}


/*.videoSection{
           visibility: hidden;
           

  }*/
.section-img img{
   width: 100%;
             margin: auto;
 
    
}
.section{

  width: 100%;
     display: inline-block;
     
  
  
}

.videoSection{
    width: 100%;
    margin: auto;
  padding: 10px 40px;
    display: none;
   
}
       

.videoBackground {
     width: 100%;
   height: auto;
  
    margin: auto;
    display: block;
    
}

.videoBox{
    
    width: 46%;
    height: auto;
        display: inline-block;
        position: relative;
                  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.6); 

             
 background-color:white;

}
.videoBox h4{
        text-align: center;
   font-size: 3rem;
   padding: 10px 10px;
    background-color:white;

}

.videoBoxContainer{
    width: 82%;
    margin: auto;
    
       display: flex;
           justify-content: space-between;
           margin-top: 50px;

           
           
           
}
.icon-play{
  position: absolute;

  top: 20%;
  left: 30%;
  width: 40%;
}



.icon-play:hover{
        transform: scale(1.2, 1.2);
 -moz-transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
-o-transform: scale(1.2, 1.2);
  
}
.videoSOuter{ 

  position: relative;

       margin-top: 0px;  

padding-bottom: 100px;
 background-color:#e2dfdf;
}








.ibDK img{
    float: left;
    margin: 1%;
    
}




.bg2{
    background-color:white;

} 

.bg1{
    background-color:#29292c;

} 
.bg3{
        
    background-color: #dedfd4;
}


.goals{
    
 text-align: left;
font-family: Montserrat, sans-serif;
color: white;


    
}



.mySlides {display:none;
}

/* background image*/
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img/logoMenu.png) no-repeat;
    background-size: cover; 
width: 100%;

}

    .groupMobile{
        display: none;
    }




.beVolHeader{
padding-bottom: 0px;
margin-bottom: 10px;

    
}

@media screen and (max-width:1000px) {
  
.groupPicdiv{

   position: absolute; 

   top: 11%;
 /* left: 50%*/
   width: 100%; 
     text-align:  center;

}


.groupPicdiv img{
    
    width: 50px;
 height: auto;
 
animation: spinning-logocat 5s infinite;

}
    
    
}




@media screen and (max-width:420px) {

.sectionTitle{
    
       
        font-size: 4rem;
            font-weight: 700;



}
    
    
    
.videoBox{
    
    width: 100%;
  margin: 10px;
        display: inline-block;
                 

}


.videoBoxContainer{
    width: 82%;
    margin: auto;
    
       display: block;
           justify-content: unset;
           margin-top: 50px;

           
           
           
}



    
}
@media screen and (max-width:770px) {

.videoBox h4{
        text-align: center;
   font-size: 2rem;
   padding: 0px 10px;
    background-color:white;

}
    .flipAnimation{
        display: none;
    }
    
    .groupMobile{
        display: block;
    }
    .groupDesktop{
        display: none;
    }


}