/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-02-2017, 20:58:09
    Author     : Alkhozai
*/

 
body {
    background-image: url(img/bg-alter.jpg);
    color: #525252;
    font-family: "Roboto", sans-serif;

    font-weight: 300;
    line-height: 2;
}






.floating-box2-center{
   width: 25%;
    min-width: 200px;
    height: 110px;
    margin: 1em;
 
    display: inline-block;
          border-left:  3px solid white; 
    border-right:  3px solid white; 
}
.floating-box2{
   width: 25%;
    min-width: 200px;
    height: 110px;
    margin: 1em;
 
    display: inline-block;
          
}

body{
    background-color: #cccccc;
    
}
.floating-box2 {
    
    color: white;
}



.copyR{
   
       background-color: #cccccc;
    width: 100%;
    height: 30px;
         color: white;
  text-align: left;
  padding: 3px;
  
}
.copyR a{
     color:#29292c;
  text-align: left;
}
h1{
    text-align: center; 
    
}
.whiteFont{
    color: white;}
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 ;
  border-top:  4px solid #8d1010;

   background-color: #29292c;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.footer  {
    color: white;
    
}
.center{
      margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.header-y{
      position: absolute;
  right: 0;
  top:  0;
   
  left: 0;
  
  background-color: #666666;
 
  
    
}

.header-y img{
       float: left;
       height: 150px;
       width: 480px;

     
       

}


/*        - ---------------   */


body {margin:0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
   background-color: white;
       position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
     z-index: 800;

}

ul.topnav li {float: right;  }
ul.topnav li.myIcon {float: left;  }

ul.topnav li a {
   
    font-family: Montserrat, sans-serif;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.5em;
}

ul.topnav li a:hover {  
     transform: scale(1.3, 1.3);
 -moz-transform: scale(1.3, 1.3);
-ms-transform: scale(1.3, 1.3);
-webkit-transform: scale(1.3, 1.3);
-o-transform: scale(1.3, 1.3);
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:nth-child(5)) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  

}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    
    font-family: Montserrat, sans-serif;
  }
  
  
  li a:hover:not(.active) {


}

.active {
        border:  3px solid yellowgreen; 

}

ul.topnav li a:hover { 
      transform: scale(1, 1);
 -moz-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-o-transform: scale(1, 1);
 }
  .videoSection{
           visibility: hidden;
           

  }
}
.section-img img{
   width: 100%;
             margin: auto;
 
    
}
.section{

  
     display: inline-block;
     
        padding: 40px;
  
}

.videoSection{
    
  
 
    width: 90%;

  display: block;
    margin: auto;



    
}

.ibDK {
    
    
    
}
.ibDK{
font-family: Montserrat, sans-serif;
 padding: 1%;
text-align: left;
 color:#29292c;

padding: 0px 1%;
  

margin: 1px;;
width: auto;
}


.ibDK img{
    float: left;
    margin: 1%;
    
}



.layer {
 
 


}

.bg2{
    background-color:white;

} 

.bg1{
    background-color:#29292c;

} 
.bg3{
        
    background-color: #dedfd4;
}


.goals{
    
 text-align: left;
font-family: Montserrat, sans-serif;
color: white;


    
}
.text-video{
    padding: 1%;
    

color: black;

padding: 0px 1%;
}


.mySlides {display:none;
}

/* background image*/
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img/logoMenu.png) no-repeat;
    background-size: cover; 
width: 100%;

}




.iconA { /*ul.topnav li.*/
   position: relative;
    top: 1px;
    padding: 3px;
 width: 200px;
    float: left;
   z-index: 90;
left: -2px;
    padding-left: 35px;
  
    background-color: white;


     border-radius: 80%;







  
       position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
 
     z-index: 800;
}


.iconA img{/*ul.topnav li */


    height: 100px;
    width: 100px;

     
       
}

  /*
  .floating-box1{
      width: 25%;
      min-width: 300px;
    height: 110px;
margin: 0px 3%;
margin-bottom: 1%;  
 
    float: left;

}
  
  
  /////////////////////////////////
  ul {
      position: absolute;

    left: 0;
         right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:scroll;
    background-color:#666666;
    padding-right: 5%;
}

li {
    float: right;
    margin-top: 10px;
     padding-right: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    border-bottom:  3px solid white; 

}

.active {
        border-bottom:  3px solid white; 

}

    .navbar li a {
        color: white;
        opacity: 1;
    }
   
    .navbar {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0;
        background-color: #2d2d30;
        border: 0;
        font-size: 11px !important;
        letter-spacing: 4px;
        opacity: 0.9;
       
    }
  
  */
  
  
  