/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-03-2017, 22:53:21
    Author     : Alkhozai
*/

.whoSection img{
     border-bottom: 2px solid white;
     border-top: 2px solid white ;
     border-radius: 50%;
      width: 100%;

}
.whoSection {
   
  
color: #525252;

}

.col1 {
    text-align: center;
  

    float: left;
    padding: 20px;
    width:25%;
display: inline-block;
  margin-left: 8%;
 


  
color: #525252;
 
  
    

}
.col2 {
   
     width:25%;
    padding: 20px;
    float: left;
    margin-left: 3%;
display: inline-block;
    border-bottom: 2px solid #991515;
border-top: 2px solid #991515;
 margin-bottom: 6px;
background-color: #525252;
   color: white;
}

.col3 {
   
     width:25%;
    padding: 20px;
    float: left;
    margin-left: 3%;
    display: inline-block;
    height: 100%;

  
   
    color: #525252;

}
.colmsContainer{
    width: 100%;
    border-bottom:   2px solid #525252;
    border-top:   2px solid #525252;
    display: table;
    margin-bottom: 7px;
}
.colmsContainer img{
     border-bottom: 2px solid white;
     border-top: 2px solid white ;
     border-radius: 50%;
width: 100%;
}

.bg2{
    background-color:white;

} 

.bg1{
    background-color:#29292c;

} 
.bg3{
        
    background-color: #dedfd4;
}   