/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-03-2017, 22:53:21
    Author     : Alkhozai
*/

.sectionHeaderH1{
    width: 100%;
    margin: auto ;
    padding: 30px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 5rem;
            font-weight: 700;
margin-bottom: 20px;


}
.whoSection img{
     border-top: 2px solid white ;
  
      width: 100%;

}
.whoSection {
   background-color: white;
color: #525252;
margin-bottom: 0px;


}

.col1 {
  

    float: left;
    padding: 20px;
    width:25%;
display: inline-block;
  margin-left: 8%;
 


  
color: #525252;
 
  
    

}
.col2 {
   
     width:25%;
    padding: 20px;
    float: left;
    margin-left: 3%;
    display: inline-block;
  
   color: #525252;
   
}

.col3 {
   
     width:25%;
    padding: 20px;
    float: left;
    margin-left: 3%;
    display: inline-block;

  
   
    color: #525252;

}
.colmsContainer{
        text-align: left;

    width: 100%;
    display: table;
    
    background-color:white;
}
.colmsContainer p{
    
    font-size: 1.7rem; 
    
}

.colmsContainer img{
     border-bottom: 2px solid white;
     border-top: 2px solid white ;
 /*    border-radius: 50%;*/
width: 100%;
margin-bottom: 10px;
}

.bg2{
    background-color:white;

} 

.bg1{
    background-color:#29292c;

} 
.bg3{
        
    background-color: #dedfd4;
}   